<template>
  <q-dialog v-model="isOpen" :persistent="loading">
    <q-card style="width: 350px">
      <q-card-section>
        <div class="text-h6">Create Account</div>
      </q-card-section>

      <q-card-section class="text-body1">
        This one-time setup allows you to make
        <span class="buys">Buys</span> and <span class="sells">Sells</span> in a
        single transaction - saving you on transaction fees and time!
      </q-card-section>

      <q-card-section class="text-caption q-pb-none" align="right">
        Please accept both transactions
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup :disable="loading" />
        <q-btn
          flat
          label="Create Account"
          @click="onSubmit"
          :loading="loading"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data() {
    return {
      loading: false
    };
  },
  computed: {
    isOpen: {
      get() {
        return this.$store.state.users.accountDialog;
      },
      set(_isOpen) {
        this.$store.commit("users/toggleAccountDialog", _isOpen);
      }
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;

      try {
        await this.$store.dispatch("users/createAccount");
        this.$store.commit("users/toggleAccountDialog");
      } catch (error) {
        this.$q.notify("Something happened, please try again.");
      }

      this.loading = false;
    }
  }
};
</script>

<style lang="stylus">
.buys
  color $positive
.sells
  color $negative
</style>
