<template>
  <q-table
    :loading="!allPublications.length"
    dense
    row-key="domain"
    :data="myPublications"
    :columns="columns"
    :pagination="pagination"
    :grid="$q.screen.xs"
    :sort-method="sortNumerically"
    no-data-label="You aren't holding any votes! Go back to the market to get started."
    style="margin-top: -50px;"
    class="full-height full-width max-width-content"
  >
    <!-- Table view -->
    <q-td slot="body-cell-domain" slot-scope="props" :props="props">
      <a
        :href="`http://${props.row.domain}`"
        target="_blank"
        rel="noopener noreferrer"
        >{{ props.row.domain }}</a
      >
    </q-td>

    <q-td slot="body-cell-trade" slot-scope="props" :props="props">
      <q-btn
        color="positive"
        class="q-ma-xs text-bold"
        size="sm"
        label="Buy"
        icon-right="fas fa-caret-up"
        @click="buyTokens(props.row.domain)"
      />
      <q-btn
        color="negative"
        class="q-ma-xs text-bold"
        size="sm"
        label="Sell"
        icon-right="fas fa-caret-down"
        @click="sellTokens(props.row.domain, props.row.amount)"
      />
    </q-td>

    <!-- <q-td slot="body-cell-change" slot-scope="props" :props="props">
      <span :class="'text-' + props.row.color">{{ props.row.change }}%</span>
    </q-td>-->
    <!-- End table view -->

    <!-- Grid view -->
    <template v-slot:item="props">
      <div class="q-pa-xs">
        <q-card>
          <q-list dense class="flex flex-center">
            <q-item v-for="col in props.cols" :key="col.name">
              <q-item-section>
                <q-item-label>{{ col.label }}</q-item-label>
              </q-item-section>

              <q-item-section side v-if="col.name == 'trade'">
                <div class="row">
                  <q-btn
                    color="positive"
                    class="q-ma-xs text-bold"
                    size="sm"
                    label="Buy"
                    icon-right="fas fa-caret-up"
                    @click="buyTokens(props.row.domain)"
                  />
                  <q-btn
                    color="negative"
                    class="q-ma-xs text-bold"
                    size="sm"
                    label="Sell"
                    icon-right="fas fa-caret-down"
                    @click="sellTokens(props.row.domain, props.row.amount)"
                  />
                </div>
              </q-item-section>

              <q-item-section side v-else>
                <q-item-label caption>{{ col.value }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
    </template>
    <!-- End grid view -->
  </q-table>
</template>

<script>
export default {
  data() {
    return {
      columns: [
        // {
        //   name: "rank",
        //   label: "#",
        //   field: "rank",
        //   classes: "rank",
        //   align: "center"
        // },
        {
          name: "domain",
          label: "Website",
          field: "domain",
          align: "left"
        },
        {
          name: "amount",
          label: "Amount",
          field: "amount",
          align: "center"
        },
        {
          name: "value",
          label: "USD Value",
          field: "value",
          format: amount => this.formatCurrencyUSD(amount),
          align: "center"
        },
        {
          name: "interest",
          label: "Interest Earned",
          field: "interest",
          format: interest => this.formatCurrencyUSD(interest),
          align: "right"
        },
        {
          name: "trade",
          label: "Trade",
          field: "id",
          align: "center"
        }
      ],
      pagination: {
        sortBy: "value",
        rowsPerPage: 0,
        descending: true
      }
    };
  },
  methods: {
    formatCurrencyUSD(amount) {
      const formatter = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
        minimumFractionDigits: 4
      });

      return formatter.format(amount);
    },
    formatPercent(amount) {
      const formatter = new Intl.NumberFormat("en-US", {
        style: "percent",
        currency: "USD",
        minimumFractionDigits: 1,
        minimumSignificantDigit: 1
      });

      return formatter.format(amount);
    },
    sortNumerically(rows, sortBy, descending) {
      let data = [...rows];

      if (sortBy) {
        data.sort((a, b) => {
          let x = descending ? b : a;
          let y = descending ? a : b;
          // numeric sort
          return parseFloat(x[sortBy]) - parseFloat(y[sortBy]);
        });
      }

      return data;
    },
    buyTokens(domain) {
      this.$store.commit("publications/setBuyingDomain", domain);
      this.$store.commit("publications/toggleBuyDialog");
    },
    sellTokens(domain, amount) {
      this.$store.commit("publications/setSellingDomain", { domain, amount });
      this.$store.commit("publications/toggleSellDialog");
    }
  },
  computed: {
    allPublications() {
      return this.$store.getters["publications/all"];
    },
    myPublications() {
      return this.$store.getters["publications/mine"];
    }
  }
};
</script>

<style>
.q-table tbody td {
  font-size: 15px;
}
.q-table__bottom--nodata:nth-child(2) {
  font-size: 14px;
  justify-content: center;
}
.fa-caret-up.on-right,
.fa-caret-down.on-right {
  margin-left: 2px;
  margin-right: -8px;
}
</style>
