<template>
  <div
    style="background-image:url('statics/header-bg.jpg')"
    class="bg-pic row justify-center full-width"
  >
    <div class="bg-filter row full-width justify-center">
      <div class="row full-width justify-center text-grey-2 max-width-content">
        <div
          class="banner-col-1 column col-xs-12 col-sm-6 justify-center items-start q-pt-xl"
        >
          <div class="row full-width justify-center text-left">
            <div class="column q-pa-md items-start self-start">
              <div
                class="banner-title col text-h4 q-py-sm-lg q-my-sm-lg q-mt-md q-pt-md"
              >
                Wallet
              </div>
            </div>
          </div>
        </div>

        <div
          class="banner-col-2 column col-xs-12 col-sm-6 self-center q-pt-sm-lg q-mt-sm-lg"
        >
          <q-btn
            outline
            rounded
            no-caps
            label="Distribute Interest"
            class="q-px-xl q-py-md q-mb-xl q-mb-sm-none q-mx-auto"
            style="width: max-content;"
            @click="distributeInterest"
            :loading="loading"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false
    };
  },
  methods: {
    async distributeInterest() {
      this.loading = true;
      try {
        await this.$store.dispatch("publications/distributeInterest");
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "fas fa-check-circle",
          message: "Interest successfully distributed!"
        });
      } catch (error) {
        this.$q.notify({
          color: "red-4",
          textColor: "white",
          icon: "fas fa-ban",
          message: "There was an error distributing interest. Please try again."
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style>
body {
  font-weight: 300;
}
.banner-title {
  font-weight: 300;
}
.banner-text {
  font-size: 1rem;
}
.q-field--standout.q-field--rounded .q-field__control {
  border-radius: 14px;
}
.bg-filter {
  background: linear-gradient(
    180deg,
    rgba(10, 69, 174, 0.75),
    rgba(44, 172, 227, 0.75)
  );
}
.bg-pic {
  background-size: cover;
}
</style>
