<template>
  <q-dialog v-model="isOpen" :persistent="loading">
    <q-card style="width: 350px">
      <q-card-section>
        <div class="text-h6">Buy {{ domain }}</div>
      </q-card-section>

      <q-select
        filled
        v-model="selectedToken"
        :options="tokenOptions"
        @input="tokenSelected"
        label="Pay with"
        option-value="symbol"
        option-label="symbol"
        option-disable="inactive"
        map-options
      >
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
            <q-item-section avatar>
              <q-icon
                :name="
                  scope.opt.symbol == 'ETH'
                    ? 'img:' + ethereumLogo
                    : 'img:https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/' +
                      scope.opt.address +
                      '/logo.png'
                "
              />
            </q-item-section>
            <q-item-section>
              <q-item-label v-html="scope.opt.symbol" />
              <q-item-label caption>{{ scope.opt.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-card-section class="q-pb-xs">
        <q-input
          dense
          v-model="amount"
          autofocus
          @keyup.enter="onSubmit"
          placeholder="Amount"
          @input="setCost"
          type="number"
          ref="amount"
          input-class="text-right"
          debounce="250"
          :rules="[
            val => !!val || '* Required',
            val => val > 0 || 'Enter a value greater than zero',
            checkBalance
          ]"
        />
      </q-card-section>

      <q-card-section class="text-caption q-pb-xs" align="right">
        Balance: {{ balance }} {{ selectedToken.symbol }}
      </q-card-section>

      <q-card-section class="text-caption q-pb-xs" align="right">
        Cost: {{ cost }} {{ selectedToken.symbol }}
      </q-card-section>

      <q-card-section class="text-caption q-pb-xs" align="right">
        Max. slippage: {{ maxSlippage }}%
      </q-card-section>

      <q-card-section class="text-caption q-pb-xs" align="right">
        Note: Audit needed
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup :disable="loading" />
        <q-btn flat label="Buy Tokens" @click="onSubmit" :loading="loading" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Web3 from "web3";
import contract from "truffle-contract";

import DSTokenABI from "src/abis/DSToken";
const DSToken = contract(DSTokenABI);
const daiMainnetAddress = "0x6b175474e89094c44da98b954eedeac495271d0f";

import UserProxyRegistryABI from "src/contracts/UserProxyRegistry";
const UserProxyRegistry = contract(UserProxyRegistryABI);

import EthereumLogo from "src/assets/ethereum-logo.svg";
import { TokenList } from "src/res/Tokens";

let web3;

if (window.web3) {
  web3 = new Web3(window.web3.currentProvider);
}

export default {
  data() {
    return {
      ethereumLogo: EthereumLogo,
      selectedToken: TokenList[0],
      tokenOptions: TokenList,
      amount: "",
      maxSlippage: 1,
      cost: 0,
      balance: 0,
      loading: false
    };
  },
  watch: {
    isOpen(newValue) {
      if (newValue === true) {
        this.updateBalance();
      }
    }
  },
  computed: {
    isOpen: {
      get() {
        return this.$store.state.publications.buyDialog;
      },
      set(_isOpen) {
        this.$store.commit("publications/toggleBuyDialog", _isOpen);
      }
    },
    domain() {
      return this.$store.state.publications.buyingDomain;
    }
  },
  methods: {
    async onSubmit() {
      const [account] = await web3.eth.getAccounts();

      await DSToken.setProvider(web3.currentProvider);
      const dai = await DSToken.at(daiMainnetAddress);

      await UserProxyRegistry.setProvider(web3.currentProvider);
      const proxyRegistry = await UserProxyRegistry.deployed();

      let userProxyAddress = (await proxyRegistry.getUserProxyAddress.call(
        account
      )).toString();

      this.$refs.amount.validate();

      const allowance = (await dai.allowance.call(
        account,
        userProxyAddress
      )).toString();

      if (
        !this.$refs.amount.hasError &&
        userProxyAddress == "0x0000000000000000000000000000000000000000"
      ) {
        this.$q.notify("Please create an account before buying.");
        this.$store.commit("users/toggleAccountDialog");
      } else if (new web3.utils.BN(0).cmp(new web3.utils.BN(allowance)) == 0) {
        this.$q.notify("Please finish creating your account.");
        this.$store.commit("users/toggleAccountDialog");
      } else if (!this.$refs.amount.hasError) {
        this.loading = true;

        try {
          await this.$store.dispatch("publications/buyTokens", {
            domain: this.domain,
            cost: this.cost,
            amount: this.amount,
            maxSlippage: this.maxSlippage,
            token: this.selectedToken
          });
          this.$store.commit("publications/toggleBuyDialog");
        } catch (error) {
          this.$q.notify("Something happened, please try again.");
        }

        this.loading = false;
      }
    },
    async tokenSelected() {
      const b = this.updateBalance();
      const c = this.setCost();

      await b;
      await c;
    },
    async updateBalance() {
      this.balance = await this.$store.dispatch("publications/getBalance", {
        token: this.selectedToken
      });
    },
    async setCost() {
      this.loading = true;
      if (this.amount > 0) {
        this.cost = await this.$store.dispatch("publications/getCost", {
          domain: this.domain,
          amount: this.amount,
          token: this.selectedToken
        });
      } else {
        this.cost = 0;
      }
      this.loading = false;
    },
    async checkBalance() {
      await this.setCost();
      return (
        parseFloat(this.cost) <= parseFloat(this.balance) ||
        "Not enough " +
          this.selectedToken.symbol +
          " to buy " +
          this.amount +
          " " +
          this.domain +
          " tokens"
      );
    }
  }
};
</script>

<style lang="stylus">
.q-field__messages
  text-align right
</style>
