<template>
  <q-dialog v-model="isOpen" :persistent="loading">
    <q-card style="width: 350px">
      <q-card-section>
        <div class="text-h6">New Website</div>
      </q-card-section>

      <q-card-section>
        <q-input
          dense
          v-model="domain"
          autofocus
          @keyup.enter="onSubmit"
          placeholder="Website (e.g. mysite.com)"
        />
      </q-card-section>

      <q-card-section class="text-caption">
        All lower case. No subdomains or paths (e.g. xyz.mysite.com/blog) are
        allowed.
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup :disable="loading" />
        <q-btn flat label="Add website" @click="onSubmit" :loading="loading" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data() {
    return {
      domain: "",
      loading: false
    };
  },
  computed: {
    isOpen: {
      get() {
        return this.$store.state.publications.createDialog;
      },
      set(_isOpen) {
        this.$store.commit("publications/toggleCreateDialog", _isOpen);
      }
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;

      try {
        await this.$store.dispatch("publications/create", this.domain);
        this.$store.commit("publications/toggleCreateDialog");
      } catch (error) {
        this.$q.notify("Something happened, please try again");
      }

      this.loading = false;
    }
  }
};
</script>
