<template>
  <q-table
    :loading="!publications.length"
    dense
    row-key="domain"
    :data="publications"
    :columns="columns"
    :pagination="pagination"
    :grid="$q.screen.xs"
    :sort-method="sortNumerically"
    style="margin-top: -50px;"
    class="full-height full-width max-width-content"
  >
    <!-- Table view -->
    <q-td slot="body-cell-rank" class="rank" slot-scope="props" :props="props">
      {{ getRowIndex() }}
    </q-td>

    <q-td slot="body-cell-domain" slot-scope="props" :props="props">
      <a
        :href="`http://${props.row.domain}`"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ props.row.domain }}
      </a>
    </q-td>

    <q-td slot="body-cell-trade" slot-scope="props" :props="props">
      <q-btn
        color="positive"
        class="q-ma-xs text-bold"
        size="sm"
        label="Buy"
        icon-right="fas fa-caret-up"
        @click="buyTokens(props.row.domain)"
      />
      <q-btn
        color="negative"
        class="q-ma-xs text-bold"
        size="sm"
        label="Sell"
        icon-right="fas fa-caret-down"
        @click="sellTokens(props.row.domain, props.row.amount)"
      />
    </q-td>

    <!-- <q-td slot="body-cell-change" slot-scope="props" :props="props">
      <span :class="'text-' + props.row.color">{{ props.row.change }}%</span>
    </q-td>-->
    <!-- End table view -->

    <!-- Grid view -->
    <template v-slot:item="props">
      <div class="q-pa-xs">
        <q-card>
          <q-list dense class="flex flex-center">
            <q-item v-for="col in props.cols" :key="col.name">
              <q-item-section>
                <q-item-label>{{ col.label }}</q-item-label>
              </q-item-section>

              <q-item-section side v-if="col.name == 'rank'">
                {{ getRowIndex() }}
              </q-item-section>

              <q-item-section side v-if="col.name == 'trade'">
                <div class="row">
                  <q-btn
                    color="positive"
                    class="q-ma-xs text-bold"
                    size="sm"
                    label="Buy"
                    icon-right="fas fa-caret-up"
                    @click="buyTokens(props.row.domain)"
                  />
                  <q-btn
                    color="negative"
                    class="q-ma-xs text-bold"
                    size="sm"
                    label="Sell"
                    icon-right="fas fa-caret-down"
                    @click="sellTokens(props.row.domain, props.row.amount)"
                  />
                </div>
              </q-item-section>

              <q-item-section side v-else>
                <q-item-label caption>{{ col.value }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
    </template>
    <!-- End grid view -->
  </q-table>
</template>

<script>
window.rowIndex = 0;

export default {
  data() {
    return {
      columns: [
        {
          name: "rank",
          label: "#",
          classes: "rank",
          align: "center"
        },
        {
          name: "domain",
          label: "Publisher",
          field: "domain",
          align: "left"
        },
        {
          name: "price",
          label: "Price",
          field: "price",
          format: amount => this.formatCurrencyUSD(amount),
          align: "center"
        },
        {
          name: "marketCap",
          label: "Market Cap",
          field: "marketCap",
          format: amount => this.formatCurrencyUSD(amount),
          align: "center"
        },
        // {
        //   name: "interestAccrued",
        //   label: "Is there interest?",
        //   field: "interestAccrued",
        //   align: "center"
        // },
        // {
        //   name: "change",
        //   label: "% 24h",
        //   field: "change",
        //   format: amount => this.formatPercent(amount),
        //   align: "center"
        // },
        {
          name: "trade",
          label: "Trade",
          field: "id",
          align: "center"
        }
      ],
      pagination: {
        sortBy: "marketCap",
        rowsPerPage: 0,
        descending: true
      }
    };
  },
  methods: {
    formatCurrencyUSD(amount) {
      const formatter = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
        minimumFractionDigits: 2
      });

      return formatter.format(amount);
    },
    formatPercent(amount) {
      const formatter = new Intl.NumberFormat("en-US", {
        style: "percent",
        currency: "USD",
        minimumFractionDigits: 1,
        minimumSignificantDigit: 1
      });

      return formatter.format(amount);
    },
    sortNumerically(rows, sortBy, descending) {
      let data = [...rows];

      if (sortBy) {
        data.sort((a, b) => {
          let x = descending ? b : a;
          let y = descending ? a : b;
          // numeric sort
          return parseFloat(x[sortBy]) - parseFloat(y[sortBy]);
        });
      }

      window.rowIndex = 0;
      return data;
    },
    getRowIndex() {
      window.rowIndex += 1;
      return window.rowIndex;
    },
    buyTokens(domain) {
      this.$store.commit("publications/setBuyingDomain", domain);
      this.$store.commit("publications/toggleBuyDialog");
    },
    sellTokens(domain, amount) {
      this.$store.commit("publications/setSellingDomain", { domain, amount });
      this.$store.commit("publications/toggleSellDialog");
    }
  },
  computed: {
    publications() {
      return this.$store.getters["publications/all"];
    }
  }
};
</script>

<style>
.q-table td.rank {
  font-size: 1.25em;
  font-weight: bold;
  color: grey;
}
.q-table tbody td {
  font-size: 15px;
}
.fa-caret-up.on-right,
.fa-caret-down.on-right {
  margin-left: 2px;
  margin-right: -8px;
}
</style>
