<template>
  <q-dialog v-model="isOpen" :persistent="loading">
    <q-card style="width: 350px">
      <q-card-section>
        <div class="text-h6">Sell {{ domain }}</div>
      </q-card-section>

      <q-card-section class="q-pb-xs">
        <q-input
          dense
          v-model="amount"
          autofocus
          @keyup.enter="onSubmit"
          placeholder="Amount"
          type="number"
          input-class="text-right"
          ref="amount"
          :rules="[
            val => !!val || '* Required',
            val => val > 0 || 'Enter a value greater than zero',
            () =>
              parseFloat(this.amount) <= parseFloat(this.balance) ||
              'You don\'t have ' +
                this.amount +
                ' ' +
                this.domain +
                ' tokens to sell.'
          ]"
        />
      </q-card-section>

      <q-card-section class="text-caption q-pb-xs" align="right">
        Balance: {{ balance }} {{ domain }}
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup :disable="loading" />
        <q-btn flat label="Sell Tokens" @click="onSubmit" :loading="loading" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data() {
    return {
      amount: "",
      loading: false
    };
  },
  computed: {
    isOpen: {
      get() {
        return this.$store.state.publications.sellDialog;
      },
      set(_isOpen) {
        this.$store.commit("publications/toggleSellDialog", _isOpen);
      }
    },
    domain() {
      return this.$store.state.publications.sellingDomain;
    },
    balance() {
      return this.$store.state.publications.sellingTokenAmount;
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;

      try {
        this.$refs.amount.validate();

        if (!this.$refs.amount.hasError) {
          await this.$store.dispatch("publications/sellTokens", {
            domain: this.domain,
            amount: this.amount
          });
          this.$store.commit("publications/toggleSellDialog");
        }
      } catch (error) {
        this.$q.notify("Something happened, please try again.");
      }

      this.loading = false;
    }
  }
};
</script>

<style lang="stylus">
.q-field__messages
  text-align right
</style>
