<template>
  <div
    style="background-image:url('statics/header-bg.jpg')"
    class="bg-pic row justify-center full-width"
    v-if="this.$route.path !== '/wallet'"
  >
    <div class="bg-filter row full-width justify-center">
      <div class="row full-width justify-center text-grey-2 max-width-content">
        <div class="col-xs-12 justify-center items-start q-pt-xl">
          <div class="row full-width justify-center text-center">
            <div class="column full-width q-pa-md items-center self-center">
              <div class="banner-title text-h3 q-pa-sm q-pt-lg q-mt-lg">
                Welcome to the epistemic revolution.
              </div>

              <div class="banner-subtitle q-pa-md">
                Ideamarket creates high-quality public knowledge without relying
                on corporate media.
              </div>

              <ul
                class="text-left banner-text q-mb-sm q-mt-xs"
                style="max-width: 540px"
              >
                <li>
                  Price starts at $0.01 DAI per vote for each website, and
                  increases by $0.01 per 100 votes bought.
                </li>
                <li>
                  2% of every purchase remains in the permafund.
                </li>
                <li>
                  Top-ranking websites earn interest for their voters, generated
                  by deposits and the permafund.
                </li>
              </ul>

              <div
                class="row q-col-gutter-md q-mt-xs justify-center q-mb-xs-lg"
              >
                <div>
                  <q-btn
                    no-caps
                    color="primary"
                    @click="$store.commit('publications/toggleCreateDialog')"
                    class="banner-text q-px-md q-py-sm"
                  >
                    <div class="column">
                      <div>
                        Add Website
                        <q-icon name="fas fa-plus" style="font-size: 12px;" />
                      </div>
                    </div>
                  </q-btn>
                </div>
                <div>
                  <q-btn
                    no-caps
                    outline
                    class="banner-text q-px-md q-py-sm"
                    @click="$store.commit('users/toggleAccountDialog')"
                  >
                    <div class="column">
                      <div>
                        Create Account
                        <q-icon
                          name="fas fa-user"
                          class="q-pl-xs"
                          style="font-size: 12px;"
                        />
                      </div>
                    </div>
                  </q-btn>
                </div>
              </div>
              <div class="row q-mb-lg justify-between full-width banner-text">
                <div><strong>Total Market Cap:</strong> ${{ marketCap }}</div>
                <div>
                  <strong>Permafund Balance:</strong> ${{ permafundBalance }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <WalletHero v-else />
</template>

<script>
import WalletHero from "../user/WalletHero";

export default {
  components: {
    WalletHero
  },
  computed: {
    marketCap() {
      return this.$store.getters["publications/marketCap"];
    },
    permafundBalance() {
      return this.$store.getters["publications/permafundBalance"];
    }
  }
};
</script>

<style>
body {
  font-weight: 300;
}
.banner-title {
  font-weight: 300;
}
.banner-subtitle {
  font-size: 1.2rem;
  max-width: 624px;
}
.banner-text {
  font-size: 1rem;
}
.q-field--standout.q-field--rounded .q-field__control {
  border-radius: 14px;
}
.bg-filter {
  background: linear-gradient(
    180deg,
    rgba(10, 69, 174, 0.75),
    rgba(44, 172, 227, 0.75)
  );
}
.bg-pic {
  background-size: cover;
}
ul li {
  margin: 0.5rem 0;
}
</style>
