<template>
  <q-header class="transparent">
    <q-toolbar class="flex-center q-py-md q-px-none text-white">
      <div
        class="row justify-between flex-center q-px-md"
        style="width: 1120px;"
      >
        <q-toolbar-title>
          <router-link to="/" class="text-white" style="text-decoration: none;">
            <q-icon name="far fa-lightbulb text-h4" class="gt-xs" />
            <span :class="$q.screen.gt.xs ? 'q-mx-md' : ''">IdeaMarket</span>
          </router-link>
        </q-toolbar-title>
        <a
          href="https://ideamarkets.org"
          target="_blank"
          style="text-decoration:none; color: white !important;"
          class="q-mx-md"
        >
          <q-btn flat no-caps>About</q-btn>
        </a>
        <q-btn outline no-caps @click="authCheck">Wallet</q-btn>
      </div>
    </q-toolbar>
  </q-header>
</template>

<script>
import Web3 from "web3";
import contract from "truffle-contract";

import UserProxyRegistryABI from "src/contracts/UserProxyRegistry";
const UserProxyRegistry = contract(UserProxyRegistryABI);

let web3;

if (window.web3) {
  web3 = new Web3(window.web3.currentProvider);
}

export default {
  methods: {
    async authCheck() {
      if (typeof web3 === "undefined") {
        this.$q.notify(
          "Please connect to a web3 wallet to view the market. We recommend Portis for beginners."
        );
        await this.$store.state.publications.web3Connect.toggleModal();
        if (typeof web3 === "undefined") {
          this.$q.notify(
            "Please connect to a web3 wallet to view the market. We recommend Portis for beginners."
          );
        }
      }
      try {
        const [account] = await web3.eth.getAccounts();

        await UserProxyRegistry.setProvider(web3.currentProvider);
        const proxyRegistry = await UserProxyRegistry.deployed();

        let userProxyAddress = (await proxyRegistry.getUserProxyAddress.call(
          account
        )).toString();

        if (userProxyAddress == "0x0000000000000000000000000000000000000000") {
          this.$store.commit("users/toggleAccountDialog");
        } else {
          this.$router.push("/wallet");
        }
      } catch (error) {
        this.$q.notify("Something happened, please try again.");
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.q-toolbar, .q-toolbar a {
  transition: 0.2s ease;
}
</style>
