<template>
  <q-page class="row full-width justify-center">
    <div
      class="column full-width justify-left max-width-content q-pa-xs-md q-pa-sm-lg"
    >
      <div class="text-left q-pa-xl">
        "In the same way that fiat currencies are valuable only because
        governments say they are, fiat narratives are true only because media
        corporations say they are." —
        <a
          href="https://medium.com/@harmonylion1/decentralizing-the-search-for-truth-using-financial-markets-648bf4408b5c"
          ><strong>From our introduction</strong></a
        >
      </div>

      <!-- ----------------------------------------------- -->
      <!-- uncensorable----------------------------------- -->
      <div class="row full-width justify-center">
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Uncensorable</div>
          A listed publication can never be removed from the global
          conversation.
        </div>
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Unpartisan</div>
          IdeaMarket doesn't care what you believe — only that you believe it
          enough to risk money.
        </div>
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Unstoppable</div>
          IdeaMarket makes it more profitable for media to earn public trust
          than to control public opinion.
        </div>
      </div>
      <!-- ----------------------------------------------- -->
      <!-- hr--------------------------------------------- -->
      <!-- how it works ---------------------------------- -->
      <div class="flex-center row full-width justify-center q-pt-xl">
        <hr class="col-6" />
      </div>
      <div
        class="flex-center row full-width justify-center text-h6 text-center q-py-xl"
      >
        How it works
      </div>

      <!-- ----------------------------------------------- -->
      <!-- buy tokens------------------------------------- -->
      <div class="row full-width justify-center">
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Buy tokens</div>
          Buying tokens increases the visibility of a publication. Top tokens
          earn interest from deposits across the entire market.
        </div>
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Submit publications</div>
          Know a voice that deserves to be heard? Submit and make it a permanent
          part of the conversation.
        </div>
        <div class="col-xs-12 col-sm-4 q-pa-md">
          <div class="text-h6">Become a venture philosopher</div>
          Profit by discovering the best publications and narratives and making
          them popular.
        </div>
      </div>

      <div class="flex-center row full-width justify-center q-pa-xl">
        <hr class="col-6" />
      </div>

      <!-- ----------------------------------------------- -->
      <!-- Foster ideological consensus------------------- -->
      <div
        class="flex-center row full-width justify-center items-center q-pa-md"
      >
        <div class="col-xs-12 col-sm-6">
          <div class="text-h6">Foster ideological consensus</div>
          by making mutual understanding a financial necessity
        </div>
        <div
          class="col-xs-12 col-sm-6 row justify-center"
          style="background-image: url('statics/image11.jpg'); background-repeat: no-repeat; background-size: contain; height:450px"
        >
          &nbsp;
        </div>
      </div>

      <!-- ----------------------------------------------- -->
      <!-- Undermine propaganda--------------------------- -->
      <div
        class="flex-center row full-width justify-center items-center q-pa-md"
      >
        <div class="col-xs-12 col-sm-6">
          <div class="text-h6">Undermine propaganda</div>
          by making mutual understanding a financial necessity
        </div>
        <div
          class="col-xs-12 col-sm-6 row justify-center"
          style="background-image: url('statics/image09.jpg'); background-repeat: no-repeat; background-size: contain; height:450px"
        >
          &nbsp;
        </div>
      </div>

      <!-- ----------------------------------------------- -->
      <!-- Solve fake news effortlessly------------------- -->
      <div
        class="flex-center row full-width justify-center items-center q-pa-md"
      >
        <div class="col-xs-12 col-sm-6">
          <div class="text-h6">Solve fake news effortlessly</div>
          by making credibility extremely expensive to fake
        </div>
        <div
          class="col-xs-12 col-sm-6 row justify-center"
          style="background-image: url('statics/image08.jpg'); background-repeat: no-repeat; background-size: contain; height:450px"
        >
          &nbsp;
        </div>
      </div>

      <!-- ----------------------------------------------- -->
      <!-- learn more------------------------------------- -->
      <div class="text-h4 text-center q-pa-lg">Learn more:</div>
      <div class="text-left q-pa-sm">
        1.
        <a
          href="https://medium.com/@harmonylion1/decentralizing-the-search-for-truth-using-financial-markets-648bf4408b5c"
          >Introduction: Decentralizing the search for truth using idea
          markets</a
        >
      </div>
      <div class="text-left q-pa-sm">
        2.
        <a
          href="https://medium.com/@harmonylion1/how-to-code-unstoppable-nonviolent-revolutions-3f8eab3916be"
        >
          How to code unstoppable nonviolent revolutions</a
        >
      </div>

      <!-- ----------------------------------------------- -->
      <!-- hr--------------------------------------------- -->
      <div class="flex-center row full-width justify-center q-pt-xl">
        <hr class="col-6" />
      </div>

      <!-- ----------------------------------------------- -->
      <!-- twittwer pics---------------------------------- -->
      <div
        class="flex-center row full-width justify-center items-center q-pa-md q-mt-xl q-mb-none"
      >
        <div
          class="col-xs-12 col-sm-6 row justify-center"
          style="background-image: url('statics/image01.jpg'); background-repeat: no-repeat; background-size: contain; height:450px; background-position: center;"
        >
          &nbsp;
        </div>
        <div
          class="col-xs-12 col-sm-6 row justify-center"
          style="background-image: url('statics/image05.jpg'); background-repeat: no-repeat; background-size: contain; height:450px; background-position: center;"
        >
          &nbsp;
        </div>
      </div>

      <!-- ----------------------------------------------- -->
      <!-- hr--------------------------------------------- -->
      <div class="flex-center row full-width justify-center q-pt-xl">
        <hr class="col-6" />
      </div>
      <div
        class="text-h4 text-center q-pa-xl"
        style="font-weight: 700; font-size: 39px"
      >
        <div>Don't tolerate corporate media. Build the future.</div>
      </div>
      <div
        class="text-h5 text-center"
        style="font-weight: 300; font-size: 34px; line-height: 1.2;"
      >
        IdeaMarket is 100% community-funded and developed.
      </div>
      <div
        class="text-h5 text-center"
        style="font-weight: 300; font-size: 34px; line-height: 1.2;"
      >
        Contribute finances, skills, or introductions
        <a href="https://ideamarkets.org/#donate">here.</a>
      </div>
      <div
        class="text-h5 text-center q-pt-xl q-mt-xl"
        style="font-weight: 500; font-size: 34px; line-height: 1.2;"
      >
        Follow us
      </div>

      <div class="flex-center row full-width justify-center q-pt-xl">
        <div class="col-2 text-center">
          <a href="http://twitter.com/harmonylion1">
            <q-btn round icon="fab fa-twitter" />
          </a>
        </div>
        <div class="col-2 text-center">
          <a href="https://t.me/joinchat/GqbLsRWJOEjD_aTKJA96lQ">
            <q-btn round icon="fab fa-telegram-plane" />
          </a>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "About"
};
</script>

<style>
.q-page-container {
  padding-top: 0 !important;
}
</style>
