<template>
  <q-page class="row justify-center">
    <RankedTable />
  </q-page>
</template>

<script>
import RankedTable from "src/components/publications/RankedTable";

export default {
  name: "Index",
  components: {
    RankedTable
  }
};
</script>
