<template>
  <q-page class="row justify-center">
    <WalletTable />
  </q-page>
</template>

<script>
import WalletTable from "src/components/user/WalletTable";

export default {
  name: "Wallet",
  components: {
    WalletTable
  },
  created() {
    this.$store.dispatch("publications/initializeWallet");
  }
};
</script>
