// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  font-family: 'Open Sans', sans-serif;
}

// .text-h5 {
//   letter-spacing: 1.2px;
// }

a {
  color: $link-text;
}
