<template>
  <q-layout view="hhh lpr fff">
    <Toolbar />
    <Hero />
    <q-page-container>
      <router-view class="q-ma-md" />
    </q-page-container>
    <CreateDialog />
    <BuyDialog />
    <SellDialog />
    <AccountDialog />
  </q-layout>
</template>

<script>
import { openURL } from "quasar";
import Toolbar from "src/components/app/Toolbar";
import Hero from "src/components/app/Hero";
import CreateDialog from "src/components/publications/CreateDialog";
import BuyDialog from "src/components/publications/BuyDialog";
import SellDialog from "src/components/publications/SellDialog";
import AccountDialog from "src/components/user/AccountDialog";

export default {
  name: "AppLayout",
  methods: {
    openURL
  },
  components: {
    Toolbar,
    Hero,
    CreateDialog,
    BuyDialog,
    SellDialog,
    AccountDialog
  }
};
</script>

<style>
body {
  color: #333333;
  font-size: 1.2rem;
}
.max-width-content {
  max-width: 1120px;
}
.q-page {
  min-height: 0 !important;
}
</style>
